.checkout_btn {
    display: block;
    width: 100%;
    background: rgb(79, 99, 6);
    border: none;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    margin-top: 30px;
}
